---
layout: default
---
<div class="post-area post">
    <header>
        <h1>{{ page.title }}</h1>
    </header>
    <hr>
    <article class="page-content">
        {{ content }}
    </article>
</div>
<div id="content" class="col-sm-3">
    <!-- <div id="myAffix" class="shadow-bottom-center hidden-xs" data-spy="affix" data-offset-top="0" data-offset-bottom="-20"> -->
    <div id="myAffix" class="shadow-bottom-center hidden-xs" >
      <div class="categories-list-header">
        Content
      </div>
      <div class="content-text"></div>
    </div>
  </div>
{% if page.comments %}
	{% if site.duoshuo_url %}
	<div class="post-area post comment">
	  <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ site.duoshuo_url }}{{ page.url }}"></div>
	</div>
	{% endif %}
	{% if site.disqus_url %}
	<div class="post-area post comment">
		<div id="disqus_thread"></div>
	</div>
	{% endif %}
{% endif %}